.container{
    background-color: var(--body_background);
    width: 100vw;
    height: 100vh;
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.correctSVG{
    display: none;
    height:  20%;
    width: 20%;
}

.notCorrectSVG{
    display: none;
    height:  20%;
    width: 20%;
}

@media (max-width: 900px) {
.container{
    width: 100vw;
}
}