/* Estilos generales */
p {
    color: var(--body_textColor);
    font-family: "Fredoka", sans-serif;
  }
  
  /* Estilos del contenedor */
  .container {
    cursor: pointer;
    display: grid;
    grid-template-rows: auto 1fr;
    width: 300px;
    max-width: 100%;
    height: 200px;
    background-color: var(--body-cardBackground);
    border: var(--body_cardBorder);
    box-shadow: var(--body_boxShadow);
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .container:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  
  /* Posicionamiento común para infoArea y infoGroup */
  .infoArea,
  .infoGroup {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .infoArea {
    justify-content: flex-start;
  }
  
  .infoGroup {
    justify-content: flex-end;
  }
  
  .infoStudentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para numberStudents */
  .numberStudents {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #007a87;
    border-radius: 50%;
    margin-bottom: 10px;
    
  }
  
  /* Estilos para infoStudents */
  .infoStudents {
    text-shadow: 0px 0px 1px  black;
    color: white;
    text-align: center;
    font-size: 1.2rem;
  }

.info{
  color: var(--body_textColor);
}
  

  @media (max-width:1250px) {
    .container{
      justify-items: center;
      width: 100vw;
  }}

 
  @media (max-width:450px) {
    .container{
      justify-items: center;
      width: 100vw;
  }}

  