.container{
    text-decoration: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    justify-items:center;
    gap:4px;
    width: 100%;
    height: 60px;
    border-bottom: var(--body_borderColor);
    transition: 0.5s all;
}

.container:hover{
transform: scale(1.2);
}

.email{
    width: 100%;
    overflow-wrap: break-word;
    margin: 0px;
}
