/* Contenedor de la sidebar */
.container {
    top: 0;
    left: 0;
    width: 250px; /* Ancho fijo para la sidebar */
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e4e4e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 100000;
  }

  .quitPhoneBar{
    display: none;
    color: white;
    background-color: #007a87;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  
  /* Sidebar oculta (para móviles) */
  .container.hidden {
    transform: translateX(-100%);
  }
  
  /* Contenedor del menú */
  .menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }
  
  /* Título del menú */
  .menuTittle {
    font-family: "Fredoka", sans-serif;
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  /* Contenedor de opción */
  .optionContainer {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 7px;
    width: 90%;
    margin-bottom: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .optionContainer:hover {
    background-color: #f0f0f0;
  }
  
  /* Ícono en la opción */
  .optionSvg {
    height: 25px;
    width: 25px;
  }
  
  /* Título de la opción */
  .optionTittle {
    font-family: "Fredoka", sans-serif;
    color: #333;
    font-size: 1.1rem;
    margin-left: 20px;
  }
  
  /* Botón de menú para móvil */
  .menuButton {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .menuButton svg {
    width: 30px;
    height: 30px;
  }
  

  .logOut{
    background-color: transparent;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .logOut {
    color: #007a87;
    border-color: #007a87;
  }

  .logOut:hover {
    background-color: #007a87;
    color: #fff;
  }
  
  
  /* Ajustes Responsivos */
  @media (max-width: 768px) {
    /* Mostrar el botón del menú */
    .menuButton {
      display: block;
    }
  
    /* Ocultar la sidebar por defecto en móviles */
    .container {
      transform: translateX(-100%);
      position: fixed;
    }
  
    /* Mostrar la sidebar cuando esté abierta */
    .container.active {
      transform: translateX(0);
    }
  }