/* Contenedor de la sidebar */
.container {
  position: fixed;
    top: 0;
    left: 0;
    width: var(--body_navBarWidth); /* Ancho fijo para la sidebar */
    height: 100vh;
    background-color: var(--body_navBackground);
    border-right: 1px solid #e4e4e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    z-index: 100000;
  }

  .quitPhoneBar{
    display: none;
    color: white;
    background-color: #007a87;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  
  /* Sidebar oculta (para móviles) */
  .container.hidden {
    transform: translateX(-100%);
  }
  
  /* Contenedor del menú */
  .menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
  }
  
  /* Título del menú */
  .menuTittle {
    font-family: "Fredoka", sans-serif;
    color: var(--body_textColor);
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  
  
  /* Contenedor de opción */
  .optionContainer {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 7px;
    width: 90%;
    margin-bottom: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
 
  
  /* Ícono en la opción */
  .optionSvg {
    filter: invert(var(--body_svgColor));
    height: 25px;
    width: 25px;
  }
  
  /* Título de la opción */
  .optionTittle {
    font-family: "Fredoka", sans-serif;
    color: var(--body_textColor);
    font-size: 1.1rem;
    margin-left: 20px;
  }
  
  /* Botón de menú para móvil */
  .menuButton {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  
  .menuButton svg {
    width: 30px;
    height: 30px;
  }
  

  .logOut{
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .logOut {
    background-color: transparent;
    color: #007a87; /* Azul */
    border-color: #007a87;
  }
  
  .logOut:hover {
    background-color: #007a87;
    color: #fff;
  }

  

.switchModeContainer{
  height: 100px;
}

  /* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  
  background-color: #f3f4f8 ;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 100%;
  left: 10%;
  bottom: 15%;
  background-color: #fff000;
  box-shadow: inset 0 0 0 8px #fff000;
  transition: .5s;
}

input:checked + .slider {
  --background: #28096b;
  background-color: var(--background);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

  
  
  /* Ajustes Responsivos */
  @media (max-width: 900px) {
    /* Mostrar el botón del menú */
    .menuButton {
      display: block;
    }
  
    /* Ocultar la sidebar por defecto en móviles */
    .container {
      transform: translateX(-100%);
    }
  
    /* Mostrar la sidebar cuando esté abierta */
    .container.active {
      transform: translateX(0);
    }
  }