.container{
    display: flex;
    width: 100%;
    height: 100%;
}

.studentCardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    grid-row: 1/3;
    grid-column: 1/2;
}

.optionsStudentContainer{
    margin-top: 10px;
    width: 400px;
    justify-content: space-evenly;
    display: flex;
    justify-self: start;
    align-self: start;
    grid-column: 1/2;
    grid-row: 1/2;
}


.deleteStudent,
  .editStudent {
    background-color: transparent;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .taskButtonAdd{
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
  }

  .taskButtonAdd {
    color:  #007a87; 
    border-color:  #007a87;
  }
  
  .taskButtonAdd:hover {
    background-color:  #007a87;
    color: #fff;
  }
  
  /* Estilo específico para el botón 'Eliminar Grupo' */
  .deleteStudent {
    color: #e74c3c; /* Rojo */
    border-color: #e74c3c;
  }
  
  .deleteStudent:hover {
    background-color: #e74c3c;
    color: #fff;
  }
  
  /* Estilo específico para el botón 'Editar Grupo' */
  .editStudent {
    color: #3498db; /* Azul */
    border-color: #3498db;
  }
  
  .editStudent:hover {
    background-color: #3498db;
    color: #fff;
  }
  

.studentContainer{
  gap: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90vw;
    height: 100vh;
    background-color: #f3f4f8;
}

.tasksContainer{
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 10px;
    width: 80%;
    height: 70%;
}

.taskInfo{

    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #007a87;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
}

.createTaskButton{
    cursor: pointer;
}

/* Container for the tasks section */
.tasks {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow-y: auto;
  }
  
  /* Header for task information */
  .taskInfoTextContainer {
    display: flex;
    justify-content: center;
    width: 25%;
    border-radius: 8px 8px 0 0;
  }
  
  .taskInfoTextContainer > p {
    text-align: center;
    color: #fff;
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;

  }
  
  /* Individual task item */
  .task {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    border-bottom: 1px solid #e7e8ec;
  }
  
  .task:last-child {
    border-bottom: none;
  }
  
  .task > p {
    margin: 0;
    text-align: center;
    color: #333;
    font-size: 0.95rem;
  }
  
  .task > input {
    font-family: "Fredoka", sans-serif;

    width: 80%;
    padding: 8px;
    border: 1px solid #e7e8ec;
    border-radius: 5px;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.3s;

  }
  
  .task > input:focus {
    border-color: #007a87;
  }

  @media (max-width: 1280px) {
    .studentCardsContainer{
      background-color: #f3f4f8;
      height: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      grid-column: 1/2;
      grid-row: 4/5;
    }
    .studentCardsContainer > *{
      width: 50%;
      height: 30%;
    }
    .optionsStudentContainer{
      width: 100%;
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .studentContainer{
      width: 100%;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr 1fr 1fr 1fr;
    }
    .tasksContainer{
      height: 70%;
width: 90%;
      align-self: start;
      grid-column: 1/2;
      grid-row: 2/4;
    }
    .taskInfo{
height: 20%;
    }
  }
  /* Responsive design */
  @media (max-width: 768px) {
 
  
    .task {
  
      row-gap: 10px;
      padding: 10px;
    }
  

  }