.table-container {
    text-align: center;
    justify-self: center;
    font-family: 'Fredoka', sans-serif;
    background-color: var(--body_background);
    height: 90%;
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #007a87;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1c1c1c;
    color: white;
}

.th,
.td {
    padding: 12px 15px;
}

.th {
    background-color: #007a87;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: sticky; /* Hace que el encabezado se mantenga fijo */
    top: 0; /* Pegado a la parte superior */
    z-index: 1; /* Asegura que el encabezado quede por encima de las celdas de datos */
}

.tr {
    background-color: var(--body_background);
    color: var(--body_textColor);
    border-bottom: 1px solid #333;
}

.tr:hover {
    background-color: #333;
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon-button img {
    width: 20px;
    height: 20px;
}

.input {
    padding: 5px;
    margin-right: 10px;
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #007a87;
    border-radius: 4px;
    text-align: center;
}

.action-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}


